:root {
    font-family: 'Nunito Sans', sans-serif;
}

body {
    margin:0 auto;
    box-sizing: border-box;
}

/* Stili dell'header e delle parti interne  */

header {
    width: 100%;
    min-height: 600px;
    padding-top: 25px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

nav {
    width: 80%;
    height: 50px;
    margin: auto;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    /* align-items: center;   */
}

#logo {
    flex-basis: 20%;
    /* align-self: auto; */

}
#link {
    flex-basis: 55%;
    display: flex;
    justify-content: space-between;

    /* text-align: center; */
}

#login {
    flex-basis: 20%;
    /* text-align: right; */
}
    
#logo , #link, #login {
    /* height: 100%; */
    vertical-align: middle;
    line-height: 100%;
}  

/* Regole  elementi dentro al nav (loghi e scritte) */

#discord {
    max-width: 15%;
    max-width: 50px;
    padding: 5px;
    vertical-align: middle;
}

nav div {
    border: 2px dashed black;
}


/* Stile dei bordi (condivisa tra tutti i box interni del doc) */
.prima-box, nav div, .box, .box-green, .social, .img-logo, .button {
    border: 2px dashed black;
}

.infobox {
    border: 2px dashed white;
}

.header-bottom {
    display: flex;
    min-height: 500px;
    margin-top: 50px;
}

 /* Sezione il tuo posto e relativi contenuti  */

.iltuoposto {
    flex-basis:50%;
    min-height: 350px;
    justify-content: center;
    margin: auto;
    text-align: center;
}

h1 {
    font-size: 25px;
}

h1, .text-white {
    color: white;
}

.rounded-button {
    padding: 15px;
    border-radius: 15px;
    display: inline-block;
}

.back-white {
    background-color: white;
    color: black;
}

.back-black {
    color: white;
    background-color: black;
}

main {
    margin: auto;
}

/* regole di stile per le sezioni centrali central (contenitore) e box (items) ) */

.central, footer {
    width: 100%;
    margin: auto;
    align-items: center; 
    justify-content: center;
    min-height: 500px;
}

.central {
    display: flex;
}
.white {
    background-color: white;
}

.grey {
    background-color: lightgrey;
}

.box {
    /* height: 350px;  */
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.little {
    flex-basis: 30%;
    /* background-color: pink; */
}

.big {
    flex-basis: 50%;
    padding-left: 30%;
    /* background-color: blueviolet; */
}

#item1 {
    width: 100%;
    text-align: right;
}
.text-black {
    color: black;
    font-size: 30px;
    font-weight: bold;
    /* padding-left: 40%; */
    margin: 0;

}

.right { 
    
}

/* Sezione tenersi-contatto */

.tenersi-contatto {
    display:flex;
    width: 100%;
    margin: auto;
    align-items: center; 
    justify-content: center;
    min-height: 800px;
}

.box-green {
    flex-basis: 80%;
    /* background-color: green; */
    /* height: 600px; */
    display: flex;
    text-align: center;
    flex-direction: column;

}

/* Stili del footer  */

footer {
    height: 700px;
    padding-top: 25px;
}

.dark {
    background-color: rgb(46, 1, 46);
}

.social {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    /* background-color: rgb(243, 88, 114); */
    /* height: 550px;  */
    margin: 0;
}

.infobox {
    flex-basis: calc(55% / 4);
    /* background-color: cyan ; */
    /* height: 550px;  */
    margin: 0;
}

.bottom {
    height: 100px;
    width: 100%;
    display: flex;
    border-top: 2px solid white;
    align-items: center;
}


.img-logo, .button {
    /* background-color: pink; */
}

.button {
    /* align-items: flex-end; */
}

.foot-top {
    width: 100%;
    /* margin: auto; */
    display: flex;
    align-items: flex-start; 
    justify-content: center;
    /* min-height: 500px; */
}

#bottom-white {
    /* background-color: white; */
    display: flex;
    margin: auto;
    width: 80%;
    height: 60%;
    align-items: center;
    justify-content: space-between;
}

#stars {
    width: 50%;
    margin: auto;
}

/* Contenuto sezione social */

.text-white {
    color: white;
    padding-top: 10px;

}

.social>h3 {
    font-size: 40px;
    font-weight: 900;
    color: violet;
    margin:0;
    flex-basis: 15%;
}

#italiano {
    display: flex;
    align-items: center;
}
#bandiera {
    flex-basis: auto;
    width: 30px;
    padding-right: 5px;
}

.icons {
    color: white;
    display: flex;
    padding-top: 30px;
    font-size: 25px;
}

i {
    flex-basis: 13%;
    
}

/* Contenuto sezioni Prodotto, Compagnia, Risorse, Norme */

.infobox {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: bolder;
}

.violet {
    color: violet;
}

.img-logo {
    /* align-items: flex-start; */
    font-size: 30px;
    font-weight: 900;
    display:flex;
    align-items: center;
    color: white;
}

#discord-logo-bottom {
    flex-basis: 13%;

}

.back-lightblue {
    background-color: rgb(139, 139, 212);
    color: white;
}